-
  var catalogItems = [
    {
      id: 1,
      img: 1,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '27-29', '29-31', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Синий', 'Чёрно-белый'],
    },
    {
      id: 2,
      img: 2,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '27-29', '29-31', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Красный', 'Чёрно-белый'],
    },
    {
      id: 3,
      img: 3,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Серобуромалиновый', 'Чёрно-белый'],
    },
    {
      id: 4,
      img: 4,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Синий', 'Чёрно-белый'],
    },
    {
      id: 5,
      img: 1,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '27-29', '29-31', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Синий', 'Чёрно-белый'],
    },
    {
      id: 6,
      img: 2,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '27-29', '29-31', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Синий', 'Чёрно-белый'],
    },
    {
      id: 7,
      img: 3,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Синий', 'Чёрно-белый'],
    },
    {
      id: 8,
      img: 4,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Синий', 'Чёрно-белый'],
    },
  ]

.catalog__list.catalog-cards
  for item in catalogItems
    .catalog-card 
      .catalog-card__main 
        .catalog-card__stickers.stickers 
          .sticker.sticker--blue
            +svg(10, 10, 'play')
            | С видео
          .sticker Новинка
        picture.catalog-card__img 
          source(srcset=`./img/catalog/catalog-0${item.img}.jpg` type="image/jpeg")
          source(srcset=`./img/catalog/catalog-0${item.img}.webp` type="image/webp")
          img(src=`./img/catalog/catalog-0${item.img}.webp`, alt="")
      .catalog-card__info 
        .catalog-card__price
          .catalog-card__price-current= item.priceCurrent
          .catalog-card__price-old= item.priceOld
          .catalog-card__price-per-one ₽ / пара
        a(href="#").catalog-card__name= item.name
        .catalog-card__details
          .catalog-card__details-row
            each label, index in item.colors
              if index === 0
                .catalog-card__detail.label
                  input(type="radio" id=`c_color_0${item.id}${index}` name=`c_color_0${item.id}` checked)
                  label(for=`c_color_0${item.id}${index}`)= label
              else
                .catalog-card__detail.label
                  input(type="radio" id=`c_color_0${item.id}${index}` name=`c_color_0${item.id}`)
                  label(for=`c_color_0${item.id}${index}`)= label
          .catalog-card__details-row
            each label, index in item.sizes
              if index === 0
                .catalog-card__detail.label
                  input(type="radio" id=`c_size_0${index}` name=`c_size_0${item.id}` checked)
                  label(for=`c_size_0${index}`)= label
              else
                .catalog-card__detail.label
                  input(type="radio" id=`c_size_0${item.id}${index}` name=`c_size_0${item.id}`)
                  label(for=`c_size_0${item.id}${index}`)= label
        .catalog-card__warning 
          +svg(16, 16, 'warning-small')
          | Цена зависит от размера
        .catalog-card__controls 
          .catalog-card__counter.counter
            button.counter-control 
              +svg(24, 24, 'minus')
            input.counter-input(type="text" value="3" readonly)
            button.counter-control
              +svg(24, 24, 'plus')
          button(type="button").catalog-card__to-basket.btn.btn--wide.btn--blck В корзину