-
  var catalogItems = [
    {
      id: 1,
      img: 1,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '27-29', '29-31', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Синий', 'Чёрно-белый'],
      desc: "ПОДРОСТКОВЫЕ КОЛГОТКИ 3D ИЗ МИКРОФИБРЫ 120 DEN АССОРТИ ОТЛИЧНОГО КАЧЕСТВА",
      text: "Артикул: 8727; Состав: 87% Полиамид 10% Эластан 3% Лайкра; ПОДРОСТКОВЫЕ КОЛГОТКИ 3D ИЗ МИКРОФИБРЫ 120 DEN АССОРТИ ОТЛИЧНОГО КАЧЕСТВА"
    },
    {
      id: 2,
      img: 2,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '27-29', '29-31', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Красный', 'Чёрно-белый'],
      text: "Артикул: 8727; Состав: 87% Полиамид 10% Эластан 3% Лайкра; ПОДРОСТКОВЫЕ КОЛГОТКИ 3D ИЗ МИКРОФИБРЫ 120 DEN АССОРТИ ОТЛИЧНОГО КАЧЕСТВА"
    },
    {
      id: 3,
      img: 3,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Серобуромалиновый', 'Чёрно-белый'],
      text: "Артикул: 8727; Состав: 87% Полиамид 10% Эластан 3% Лайкра; ПОДРОСТКОВЫЕ КОЛГОТКИ 3D ИЗ МИКРОФИБРЫ 120 DEN АССОРТИ ОТЛИЧНОГО КАЧЕСТВА"
    },
    {
      id: 4,
      img: 4,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Синий', 'Чёрно-белый'],
      text: "Артикул: 8727; Состав: 87% Полиамид 10% Эластан 3% Лайкра; ПОДРОСТКОВЫЕ КОЛГОТКИ 3D ИЗ МИКРОФИБРЫ 120 DEN АССОРТИ ОТЛИЧНОГО КАЧЕСТВА"
    },
    {
      id: 5,
      img: 1,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '27-29', '29-31', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Синий', 'Чёрно-белый'],
      text: "Артикул: 8727; Состав: 87% Полиамид 10% Эластан 3% Лайкра; ПОДРОСТКОВЫЕ КОЛГОТКИ 3D ИЗ МИКРОФИБРЫ 120 DEN АССОРТИ ОТЛИЧНОГО КАЧЕСТВА"
    },
    {
      id: 6,
      img: 2,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '27-29', '29-31', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Синий', 'Чёрно-белый'],
      text: "Артикул: 8727; Состав: 87% Полиамид 10% Эластан 3% Лайкра; ПОДРОСТКОВЫЕ КОЛГОТКИ 3D ИЗ МИКРОФИБРЫ 120 DEN АССОРТИ ОТЛИЧНОГО КАЧЕСТВА"
    },
    {
      id: 7,
      img: 3,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Синий', 'Чёрно-белый'],
      text: "Артикул: 8727; Состав: 87% Полиамид 10% Эластан 3% Лайкра; ПОДРОСТКОВЫЕ КОЛГОТКИ 3D ИЗ МИКРОФИБРЫ 120 DEN АССОРТИ ОТЛИЧНОГО КАЧЕСТВА"
    },
    {
      id: 8,
      img: 4,
      name: 'МУЖСКИЕ АРОМАТИЗИРОВАННЫЕ НОСКИ В КОРОБКЕ С ДУХАМИ АССОРТИ С ПРИНТОМ ОТЛИЧНОГО КАЧЕСТВА SYLTAN 9558',
      sitckers: ['С видео', 'Новинка'],
      priceOld: '200.2',
      priceCurrent: '45.5',
      sizes: ['23-25', '31-33'],
      colors: ['Чёрный', 'Белый', 'Жёлтый', 'Синий', 'Чёрно-белый'],
      text: "Артикул: 8727; Состав: 87% Полиамид 10% Эластан 3% Лайкра; ПОДРОСТКОВЫЕ КОЛГОТКИ 3D ИЗ МИКРОФИБРЫ 120 DEN АССОРТИ ОТЛИЧНОГО КАЧЕСТВА"
    },
  ]

.catalog__list
  for item in catalogItems
    .catalog-item 
      .catalog-item__main 
        .catalog-item__stickers.stickers 
          .sticker.sticker--blue
            +svg(10, 10, 'play')
            | С видео
          .sticker Новинка
        picture.catalog-item__img 
          source(srcset=`./img/catalog/catalog-0${item.img}.jpg` type="image/jpeg")
          source(srcset=`./img/catalog/catalog-0${item.img}.webp` type="image/webp")
          img(src=`./img/catalog/catalog-0${item.img}.webp`, alt="")
      .catalog-item__mobile-info 
          a(href="#").catalog-item__name= item.name
          .catalog-item__panel
            .catalog-item__price
              .catalog-item__price-row 
                .catalog-item__price-current= item.priceCurrent
                .catalog-item__price-old= item.priceOld
                .catalog-item__price-per-one ₽ / пара
            button(type="button").catalog-item__show-info.btn.btn--blck.btn--icon.js-cat-item-info-open(data-id=`${item.id}`)
              +svg(24, 24, 'basket-stroke')
      .catalog-item__info.js-cat-item-info(data-id=`${item.id}`)
        button(type="button" class="catalog-item__info-close js-cat-item-info-close")
          +svg(24, 24, 'close')
        .catalog-item__heading 
          a(href="#").catalog-item__name= item.name
          if item.desc 
            .catalog-item__desc= item.desc
        .catalog-item__details
          .catalog-item__details-row
            each label, index in item.colors
              if index === 0
                .catalog-item__detail.label
                  input(type="radio" id=`c_color_0${item.id}${index}` name=`c_color_0${item.id}` checked)
                  label(for=`c_color_0${item.id}${index}`)= label
              else
                .catalog-item__detail.label
                  input(type="radio" id=`c_color_0${item.id}${index}` name=`c_color_0${item.id}`)
                  label(for=`c_color_0${item.id}${index}`)= label
          .catalog-item__details-row
            each label, index in item.sizes
              if index === 0
                .catalog-item__detail.label
                  input(type="radio" id=`c_size_0${index}` name=`c_size_0${item.id}` checked)
                  label(for=`c_size_0${index}`)= label
              else
                .catalog-item__detail.label
                  input(type="radio" id=`c_size_0${item.id}${index}` name=`c_size_0${item.id}`)
                  label(for=`c_size_0${item.id}${index}`)= label
        .catalog-item__text= item.text
        .catalog-item__bottom
          .catalog-item__price
            .catalog-item__price-notify           
              +svg(16, 16, 'warning-small')
              | Цена зависит от размера
            .catalog-item__price-row 
              .catalog-item__price-current= item.priceCurrent
              .catalog-item__price-old= item.priceOld
              .catalog-item__price-per-one ₽ / пара
          .catalog-item__controls 
            .catalog-item__counter.counter
              button.counter-control 
                +svg(24, 24, 'minus')
              input.counter-input(type="text" value="3" readonly)
              button.counter-control
                +svg(24, 24, 'plus')
            button(type="button").catalog-item__to-basket.btn.btn--wide.btn--blck В корзину